@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.overlay-bg {
  background: #050404;
  background: linear-gradient(
    95deg,
    rgba(5, 4, 4, 0.87) 0%,
    rgba(0, 0, 0, 0.46) 34%,
    rgba(17, 17, 8, 0.36) 100%
  );
}
